/* GLOBAL RULES */
a .fa-instagram:hover,
.fa-github:hover,
.fa-linkedin:hover {
	color: rgb(135, 102, 233);
}

@media (orientation: landscape) {
	.all {
		display: flex;
	}
	.contactInfo {
		width: 200%;
		height: 90vh;
		background: url(../Photos/profilePic.PNG);
		background-size: cover;
		background-position: center;
	}
	.row1 {
		justify-content: center;
		display: flex;
	}
	.portrait {
		display: none;
	}

	a .fa-instagram,
	.fa-github,
	.fa-linkedin {
		color: white;
		font-size: 4em;
		margin: 2rem;
		cursor: pointer;
	}
}

@media (orientation: portrait) {
	.contactInfo {
		display: flex;
		justify-content: center;
		background: url(../Photos/profilePic.PNG);

		/* width: 100vw; */
		height: 420;
		height: 70vh;
		/* align-items: flex-end; */
		background-size: cover;
	}
	.row1 {
		/* position:absolute; */
		/* display: flex; */
	}
	.about h1 {
		margin: 5px;
		padding: 10px;
	}
	.landscape {
		display: none;
	}

	.fa-instagram,
	.fa-github,
	.fa-linkedin {
		color: white;
		font-size: 4em;
		cursor: pointer;
		margin: 1rem;
	}
	.mobile-icons {
		position: relative;
		justify-content: space-between;
		text-align: center;
	}
}

Global Rules #about {
	margin: 20px;
}

p {
}
p span {
	color: rgb(135, 102, 233);
}

.aboutme {
	display: block;
	margin: 1rem;
}
.skills {
	padding: 1rem;
	background: rgb(135, 102, 233);
	text-align: center;
}
.skills ul {
	/* display: inline-table; */
	/* text-decoration: none; */
}
.skills ul li {
	/* display: flex; */
}
.email-num {
	text-align: center;
}
