@media (orientation: landscape) {
  .projects {
    margin: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (orientation: portrait){
    .projects {
        margin: 1%;
        display: grid;
        grid-template-columns: 1fr;
      }
}

/* Global Rules */
.projects a {
    margin: 5%;
  }
  .projects img {
    width: 100%;
    height: 100%;
  }