body {
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    margin: 0;
  }

  #nameGrid{
    color: #06eaf3;
    font-size: 3vw;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 6px;
    line-height: 1.2;
    cursor: pointer;
  }

  span {
    display: inline-block;
  }