body {
  background-color: #06eaf3;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  #site-header {
    display: none;
  }
}
@media (min-width: 550px) {
  #background1 {
    transform: rotate(90deg);
  }
}
.page1 {
  /* position: relative; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#background1 {
  height: 100%;
  width: 100% !important;
  /* position: relative; */
}
#mainCard {
  border-radius: 1%;
  background-color: #37abff;
  box-shadow: rgba(50, 50, 93, 0.466) 6px 9px 5px 1px,
    rgba(0, 0, 0, 0.3) 0px 3px 5px -1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 60%;
}
